/******  header *********/
header .pull-right p {
    float: left;
    font-size: 14px;
    line-height: 43px;
    margin-right: 30px;
    cursor: pointer;
}
#changePwd {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: -5px 0 0 -10px;
    z-index: 50;
}
#changePwd form{
    background-color: #fff;
    width: 630px;
    height: 350px;
    top: 80px;
    left: 50%;
    margin-left: -300px;
    padding: 20px;
    position: absolute;
    border: 1px solid #ccc;
    z-index: 50;
}
#changePwd h2 {
    text-align: center;
    margin-bottom: 20px;
}
#changePwd .form-control-feedback {
    display: none;
    margin-right: 17px;
}
#changePwd .has-success .glyphicon-ok.form-control-feedback {
    display: block;
}
#changePwd .has-warning .glyphicon-warning-sign.form-control-feedback {
    display: block;
}
#changePwd .form-group:last-child {
    margin-top: 25px;
    margin-bottom: -10px;
}

/******  loginForm *********/
form#manage-login {
    max-width: 500px;
    margin: 40px auto;
    border: 1px solid #ddd;
    padding: 20px;
}
form#manage-login .form-control-feedback {
    display: none;
    margin-right: 17px;
}
form#manage-login input.pass {
    border: 1px solid #3c763d;
    outline: #3c763d;
}
form#manage-login input.pass +.form-control-feedback {
    display: block;
    color: #3c763d;
}

/******  dashboard *********/
#dashboard-main {
    padding: 50px 10px;
    text-align: center;
}
.dashboard-choose-shell {
    max-width: 500px;
    margin: 40px auto;
}
.dashboard-choose {
    width: 200px;
    height: 200px;
    text-align: center;
    display: block;
    color: #333;
    background-color: #eaeaea;
    cursor: pointer;
}
.dashboard-choose:hover {
    color: #eaeaea;
    background-color: #333;
}
.dashboard-choose span {
    font-size: 60px;
    margin: 70px auto 10px auto;
}
.dashboard-choose-contentManager {
    float: left;
}
.dashboard-choose-accountManager {
    float: right;
}

/******  contentManager *********/
.content-topbar .navbar-form.pull-left > * {
    margin-right: 5px;
}
#content-select {
    margin-left: 10px;
}
#contentManager-dataTable > thead > tr > th, #contentManager-dataTable > tbody > tr > td {
    height: 40px;
    line-height: 40px;
    text-align: left;
}
#contentManager-dataTable > thead > tr > th {
    padding-right: 5px;
}
#contentManager-dataTable > thead > tr > th:first-child, #contentManager-dataTable > tbody > tr > td:first-child {
    width: 50px;
}
#contentManager-dataTable > thead > tr > th:last-child, #contentManager-dataTable > tbody > tr > td:last-child {
    padding-left: 10px;
    width: 480px;
}
span.span-fake-checkbox {
    width: 16px;
    height: 16px;
    display: table-cell;
    background: url("../img/checkbox_icon.png") no-repeat 0 0;
    cursor: pointer;
}
#contentManager-dataTable > tbody span.span-fake-checkbox {
    display: inline-block;
}
span.span-fake-checkbox.is-checked {
    background-position: -16px 0;
}
#contentManager-dataTable > tbody span.label.label-info {
    margin-right: 5px;
}
.item-list-noData p, .ar-list-noData p, .resource-list-noData p, .resourceList-noData p, .accounts-list-noData p {
    margin-top: 40px;
    text-align: center;
}
.item-delete-alert, .item-relate-alert, .ar-relate-alert {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    position: absolute;
    z-index: 51;
}
.item-delete-alert .alert-content, .item-relate-alert .alert-content, .ar-relate-alert .alert-content {
    text-align: center;
    width: 400px;
    height: 270px;
    top: 60px;
    left: 50%;
    margin-left: -200px;
    padding: 20px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.item-delete-alert .alert-content span {
    font-size: 100px;
    margin-bottom: 30px;
}
.item-delete-alert .alert-content p {
    font-size: 20px;
    margin-bottom: 38px;
}
.relate-form-title {
    text-align: left;
}
#relate-form-search {
    margin-right: -55px;
}
#relate-form-search > input {
    display: inline-block;
    width: 50%;
    margin-right: 10px;
    margin-left: 23px;
}
.item-relate-alert, .ar-relate-alert {
    color: #333;
}
.item-relate-alert img, .ar-relate-alert img {
    width: 100px;
    height: 100px;
    margin: 10px 0;
}
.item-relate-alert .alert-content, .ar-relate-alert .alert-content {
    width: 640px;
    height: 700px;
    margin-left: -300px;
}
.ar-relate-alert .alert-content {
    height: 776px;
}
.item-relate-alert .alert-content {
    height: 755px;
}
.relate-form-title span {
    top: 5px;
    right: 5px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
}
.relate-form-title span:hover {
    color: #f00;
}
.relate-form-content {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 650px;
    overflow: hidden;
    text-align: left;
    position: relative;
}
.relate-form-content nav.itemRelate-ar-page {
    position: absolute;
    bottom: 0;
}
.relate-form-content nav.itemRelate-ar-page .pagination {
    margin: 0 0 0 23px;
}
.relate-form-result p {
    text-align: center;
    padding-top: 85px;
}
.relate-form-result > span {
    display: block;
    margin-left: 23px;
    margin-top: 10px;
    font-weight: bold;
}
.relate-form-result .has-related-shell {
    height: 170px;
    overflow-y: auto;
}
.relate-form-result .un-related-shell {
    width: 600px;
}
.itemRelate-ar, .arRelate-resource {
    display: inline-block;
    margin: 15px 20px;
    cursor: pointer;
}
.itemRelate-ar span:last-child, .arRelate-resource span:last-child {
    display: block;
    margin-top: -18px;
    margin-left: 20px;
    width: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.itemRelate-ar .is-related span, .arRelate-resource .is-related span {
    display: table-cell;
}
.arRelate-resource p {
    width: 100px;
}
.itemInfo-mask, .editItem-mask, .resourceInfo-mask, .arInfo-mask, .channelNew-mask, .relateResourcePanel-mask, .item-setChannel-mask, .item-updateStatus-mask{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 50;
    background: rgba(0, 0, 0, 0.3);
}
.itemInfo-panel, .editItem-panel, .editAR-panel, .resourceInfo-panel, .channelNew-panel, .relateResource-panel {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 640px;
    margin-left: -320px;
}
.updateStatus-panel {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 240px;
    margin-left: -60px;
    padding: 20px 20px 0 20px ;
}
.updateStatus-panel button {
    margin-top: 20px;
    margin-left: 10px;
}
.itemInfo-panel .panel-title, .editItem-panel .panel-body, .editItem-panel .panel-title, .editItem-panel .panel-body, .resourceInfo-panel .panel-title, .resourceInfo-panel .panel-body, .editAR-panel .panel-title, .editAR-panel .panel-body, .channelNew-panel .panel-title, .channelNew-panel .panel-body, .relateResource-panel .panel-title, .relateResource-panel .panel-body {
    padding: 20px;
}
.itemInfo-panel .panel-title span, .editItem-panel .panel-title span, .editAR-panel .panel-title span, .resourceInfo-panel .panel-title span, .channelNew-panel .panel-title span, .relateResource-panel .panel-title span {
    float: right;
    cursor: pointer;
}
.itemInfo-panel td, .editItem-panel td, .editAR-panel td, .resourceInfo-panel td, .relateResource-panel td {
    padding: 10px;
}
.itemInfo-panel tr > td:first-child, .editItem-panel tr > td:first-child, .editAR-panel tr > td:first-child, .resourceInfo-panel tr > td:first-child {
    width: 100px;
    font-weight: bold;
}
.relateResource-panel tr > td:first-child {
    width: 50px;
    font-weight: bold;
}
.itemInfo-panel td a, .editItem-panel td a, .editAR-panel td a, .resourceInfo-panel td a, .relateResource-panel td a {
    display: inline-block;
    cursor: pointer;
}
.itemInfo-panel img, .editItem-panel img, .editAR-panel img, #editorItem-imgFile, #editorAR-imgFile {
    width: 256px;
    height: 256px;
}
.itemInfo-panel img.itemInfo-img {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-right: 15px;
}
.itemInfo-panel .itemInfo-channel {
    display: inline;
    margin-right: 3px;
}
.itemInfo-panel span.rResourceItem {
    margin-right: 6px;
    margin-bottom: 5px;
}
.editItem-panel td span, .editAR-panel td span, .resourceInfo-panel td span {
    display: inline-block;
    margin: -2px 5px;
}
.editItem-panel td span.td-img-mask, .editAR-panel td span.td-img-mask {
    float: left;
    width: 270px;
    height: 256px;
    margin-bottom: -256px;
    font-size: 90px;
    line-height: 256px;
    text-align: center;
    color: #333;
    opacity: 0;
}
.editItem-panel td, .editAR-panel td {
    position: relative;
}
.editItem-panel td:hover span.td-img-mask, .editAR-panel td:hover span.td-img-mask {
    opacity: 1;
}
.editItem-panel td:hover span.td-img-mask {
    margin-left: -5px;
}
#editorItem-imgFile, #editorAR-imgFile  {
    margin: -256px 0 0 0;
    opacity: 0;
    cursor: pointer;
}
label.editorItem-channel, label.editorItem-relatedAR, label.editorAR-relateItem, label.editorAR-resource {
    margin-top: 8px;
}

/******  newItem *********/
#newItem-container form {
    padding: 20px;
}
#newItem-container form .form-control-feedback {
    margin-right: 20px;
}
#content-form-channel-new .col-sm-10 label {
    margin-right: 20px;
    margin-top: 9px;
    display: inline-table;
}
#content-form-channel-new .col-sm-10 label span.newItem-channel-value {
    margin-top: 2px;
    margin-left: 3px;
}
#content-form-public-new .col-sm-10 input {
    margin-top: 10px;
}
#content-form-public-new .col-sm-10 .form-control-feedback {
    margin-left: 70px;
    position: absolute;
    left: 0;
}
#contentPS-new {
    padding: 10px 27px 10px 10px;
}
.newItem-form-left {
    width: 60%;
    float: left;
}
.newItem-form-left .form-group > label {
    min-width: 50px;
}
.newItem-form-right {
    margin-left: 17px;
    padding: 20px;
    width: 35%;
    float: left;
}
#content-form-img-new {
    margin: 10px auto;
}
#contentImg-new {
    width: 200px;
}
#contentImg-new img {
    margin-top: -30px;
    width: 200px;
    height: 200px;
}
#contentImg-new > p {
    font-weight: bold;
    margin-top: 15px;
}
.input-upload-shell {
    width: 100px;
    height: 40px;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    z-index: 29;
}
.input-upload-shell input, .input-upload-shell button {
    top: 0;
    left: 0;
    width: 100px;
    height: 40px;
    position: absolute;
    cursor: pointer;
}
.input-upload-shell input {
    opacity: 0;
    z-index: 40;
}
.input-upload-shell button {
    z-index: 35;
}
#newItem-container form .form-control-feedback {
    display: none;
}
#newItem-container form .input-upload-shell .form-control-feedback {
    margin-right: -3px;
}
#newItem-container .has-success .form-control-feedback, #newItem-container form .input-upload-shell.has-success .form-control-feedback {
    display: block;
}
#newItem-container form .input-upload-shell.has-success span {
    margin-left: -20px;
}
#newItem-container form .input-upload-shell.has-success button {
    color: #3c763d;
    border-color: #3c763d;
}

/******  usersManager *********/
#usersManager-dataTable {
    min-width: 1300px;
}
#usersManager-dataTable > thead > tr > th, #usersManager-dataTable > tbody > tr > td {
    min-width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding: 0 25px;
}
.usersManager-page {
    padding: 0 25px;
}

/******  newUser *********/
#user-form-admin-new input {
    margin-top: 9px;
    margin-right: 5px;
}
#user-form-admin-new > .col-sm-10 > * {
    display: inline-block;
    position: relative;
}
#newUser-container .form-control-feedback {
    display: none;
    margin-right: 17px;
}

/******  ARList *********/
#arList-dataTable > thead > tr > th, #arList-dataTable > tbody > tr > td {
    min-width: 150px;
    line-height: 40px;
    text-align: left;
}
#arList-dataTable img {
    width: 40px;
    height: 40px;
    margin: 10px;
}
#arList-dataTable .td-name {
    color: #fff;
}
.editAR-panel {
    top: 20%;
    width: 710px;
    margin-left: -360px;
}
.ar-relate-alert .relate-form-content form {
    display: inline-table;
}
.ar-relate-alert .relate-form-content form:first-child {
    width: 30%;
}
.ar-relate-alert .relate-form-result .has-check-returnResource .rResourceItem, .ar-relate-alert .relate-form-result .un-check-returnResource .unResourceItem {
    margin-bottom: 10px;
    margin-right: 6px;
    padding: 6px;
}
.ar-relate-alert .relate-form-result .un-check-returnResource .unResourceItem {
    margin: 15px 5px 0 5px;
    width: 139px;
}
.ar-relate-alert .relate-form-result .has-check-returnResource .rResourceItem > *, .ar-relate-alert .relate-form-result .un-check-returnResource .unResourceItem > * {
    float: left;
}
.ar-relate-alert .relate-form-result .has-check-returnResource .rResourceItem > .span-fake-checkbox, .ar-relate-alert .relate-form-result .un-check-returnResource .unResourceItem > .span-fake-checkbox {
    margin: 1px 3px 0 0 ;
}
.ar-relate-alert .relate-form-result > span {
    margin: 15px 0;
}
.unResourceItem .unResourceItem-info > span:first-child {
    float: left;
    width: 56px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.unResourceItem .unResourceItem-info > span:last-child {
    float: left;
    display: block;
    width: 50px;
    padding: 5px 0 4px 0;
    margin-bottom: -4px;
}
.arRelate-resource-page {
    position: absolute;
    bottom: 0;
}
/******  newAR *********/
#newAR-container .form-control-feedback {
    display: none;
    margin-right: 17px;
}
#newAR-container .has-success .glyphicon-ok.form-control-feedback {
    display: block;
}
#arImg-new {
    width: 500px;
}
#arImg-new > img {
    width: 200px;
    height: 200px;
    float: left;
    border: 1px solid #ddd;
}
#arImg-new .arImg-new-info {
    height: 100px;
    margin: 100px 0 0 20px;
    float: left;
}
#arImg-new .input-upload-shell {
    margin-left: 50px;
    float: left;
}
#ar-form-resource-new #resourceManager-dataTable > thead > tr > th:first-child, #ar-form-resource-new #resourceManager-dataTable > tbody > tr > td:first-child {
    padding: 0 25px 0 0;
}
#ar-form-img-new.has-success .input-upload-shell span {
    margin-left: -20px;
}
#ar-form-img-new.has-success .input-upload-shell button {
    color: #3c763d;
    border-color: #3c763d;
}
#ar-form-resource-new a {
    margin-top: 7px;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
}
#arRelateResource-search, #schedule-search {
    width: 40%;
    display: inline;
}
#arRelateResource-select {
    width: 70%;
    display: inline;
}
.ar-relate-alert #arRelateResource-select {
    width: 181px;
}
#resourceManager-dataTable #arRelateResource-select {
    width: 30%;
}
#resourceManager-dataTable tfoot th {
    padding: 0 25px;
}
#arRelateResource-form {
    float: right;
    text-align: right;
    width: 520px;
    margin-top: -40px;
}
#relate-form-select {
    margin-right: 170px;
}
.relateResource-panel #resourceManager-dataTable > thead > tr > th, .relateResource-panel #resourceManager-dataTable > tbody > tr > td {
    padding: 0;
}

/******  Channel *********/
#channel-dataTable > thead > tr > th, #channel-dataTable > tbody > tr > td {
    min-width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    position: relative;
}
#channel-dataTable > tbody > tr > td:first-child input {
    height: 30px;
}
#channel-dataTable > tbody > tr > td:first-child span {
    position: absolute;
    top: 13px;
    right: 8px;
    cursor: pointer;
}
#channel-dataTable > tbody > tr > td:first-child input.channel-name-new  {
    width: 300px;
    height: 35px;
    display: inline;
}
#channel-dataTable > tbody > tr > td:first-child span.close-addChannel {
    right: 208px;
    color: #999;
}
#channel-dataTable > tbody > tr > td:first-child span.close-addChannel:hover {
    color: #333;
}
.td-name {
    width: 200px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.td-description {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 150px;
}
.channelNew-mask .channelNew-panel select, .channelNew-mask .channelNew-panel input[type="radio"] {
    margin-top: 7px;
}

/******  resourceManager *********/
#resourceManager-dataTable > thead > tr > th, #resourceManager-dataTable > tbody > tr > td {
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding: 0 25px;
}
.resourcePreview > div > * {
    max-width: 500px;
    max-height: 400px;
}

/******  newResource *********/
.resource-new-alert {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 50;
}
.resource-new-alert .alert-content {
    text-align: center;
    width: 600px;
    height: 345px;
    top: 50%;
    left: 50%;
    margin-top: -170px;
    margin-left: -300px;
    padding: 20px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.resource-new-form-title {
    text-align: right;
    margin-bottom: 18px;
}
.resource-new-form-title span {
    font-size: 18px;
    cursor: pointer;
    position: absolute;
}
.resource-new-form-title span:hover {
    color: #f00;
}
.resource-new-alert .form-horizontal .form-control-feedback {
    display: none;
    margin-right: 17px;
}
.resource-new-alert .has-success .form-control-feedback {
    display: block;
}
#resource-form-submit-new {
    margin-left: 15px;
}
.item-delete-alert.alert-danger button {
    margin-left: 10px;
}

.pointer{
    cursor: pointer;
}

/******  theme *********/
.theme-tabs {
    border-bottom: 3px solid #f7f7f7;
    margin-bottom: 48px;
    height: 42px;
}
.theme-tabs > div {
    float: left;
    padding: 10px 15px;
    margin-bottom: -1px;
    color: #2d2d2d;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    border-bottom: 3px solid transparent;
    outline: none;
    position: relative;
    width: 150px;
    font-size: 14px;
    text-align: center;
}
.theme-tabs > div:hover {
    background-color: #eee;
    cursor: pointer;
}
.theme-tabs > div.active {
    color: #007be8;
    background-color: #fff;
    border: none;
    margin-top: 1px;
    border-bottom: 3px solid #007be8;
}
.theme-tabs > div > span.theme-arrow-down {
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    margin: 3px 0 0 -6px;
    border: 6px solid;
    border-color: #007be8 transparent transparent;
    display: none;
    position: absolute;
}
.theme-tabs > div.active > span.theme-arrow-down {
    display: block;
}
.theme-tabs > div.active:hover {
    background-color: #fff;
    cursor: auto;
}
.theme-tabs > div > span {
    font-size: 14px;
}
.calendar-view-panel {
    position: relative;
}
table#personThemeTable th, table#personThemeTable td, table#dropThemeTable th, table#dropThemeTable td, table#bottomThemeTable th, table#bottomThemeTable td, table#feedbackTable th, table#feedbackTable td, table#advertTable th, table#advertTable td, table#scheduleTable th, table#scheduleTable td {
    padding: 10px 20px;
}
img.img-unfoldImage {
    height: 50px;
}
.theme-editor-time > input.Wdate {
    width: 186px;
    height: 34px;
    padding: 0 10px;
    display: inline-block;
    border: 1px solid #ccc;
}
.theme-editor-time > span {
    padding: 0 10px;
}
.theme-content-noData, .feedback-content-noData, .advert-content-noData, .schedule-content-noData {
    padding: 150px 0;
    text-align: center;
}
.td-description-advert, .td-description-feedback {
    width: 150px;
    line-height: 50px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.description-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.description-mask > .panel {
    top: 35%;
}
.feedback-content-info, .advert-content-info {
    height: 600px;
}
.theme-content-info {
    height: 530px;
}
.createScheduleTable input.Wdate,.editorScheduleTable input.Wdate {
    width: 186px;
    height: 34px;
    padding: 0 10px;
    display: inline-block;
    border: 1px solid #ccc;
}
.item-image-display {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    z-index: 90;
    cursor: pointer;
}
.item-image-display > img {
    display: block;
    margin: 100px auto;
    max-width: 1300px;
    max-height: 800px;
}
.activeOrSchedule-shell {
    display: block;
    margin: 20px;
    border-bottom: 1px solid #ddd;
}
.activeOrSchedule-shell > div > span {
    margin: 10px 10px 10px 0;
    font-size: 15px;
    float: left;
}
.hasRelatedSchedule-shell {
    display: block;
    margin: 0 20px;
}
.hasRelatedSchedule-shell > div > span {
    margin: 10px 10px 10px 0;
    font-size: 15px;
    float: left;
}
.hasRelatedSchedule-shell > div > span > i {
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}
p.scheduleShell-title {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    font-style: oblique;
}
.relateResource-panel.advert table#resourceManager-dataTable th.paddingLeft, .relateResource-panel.advert table#resourceManager-dataTable td.paddingLeft {
    padding-left: 20px;
}
.relateResource-panel.advert table#resourceManager-dataTable th.name, .relateResource-panel.advert table#resourceManager-dataTable td.name {
    display: block;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.relateResource-panel.advert table#resourceManager-dataTable th:first-child, .relateResource-panel.advert table#resourceManager-dataTable td:first-child {
    width: 31px;
}
.itemInfo-mask.androidChannel > .itemInfo-panel {
    top: 250px;
    width: 520px;
    margin-left: -260px;
}
.itemInfo-mask.androidApp > .itemInfo-panel {
    top: 150px;
    width: 520px;
    margin-left: -260px;
}
.itemInfo-mask.androidApp > .itemInfo-panel textarea {
    width: 350px;
    height: 120px;
}
.itemInfo-mask.androidApp > .itemInfo-panel label {
    display: flex;
}
.itemInfo-mask.androidApp #td-editorAndroidApk > * {
    display: inline-block;
}
.itemInfo-mask.androidApp #td-editorAndroidApk > input {
    margin-left: 10px;
}
.td-androidChannelName span.label-primary, .td-androidChannelName span.label-success {
    opacity: 0;
    cursor: pointer;
}
.td-androidChannelName:hover span.label-primary, .td-androidChannelName:hover span.label-success {
    opacity: 1;
}
.itemInfo-mask.androidApp span.panel-loading {
    margin-left: 10px;
    -webkit-animation: loading 1s linear infinite;
    -o-animation: loading 1s linear infinite;
    animation: loading 1s linear infinite;
}
@keyframes loading {
    0%   {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50%  {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}