<div class="content-topbar">
    <div class="navbar-form pull-left">
        <button class="btn btn-primary pull-left">新建项目</button>
        <button type="button" class="btn btn-warning pull-left">删除</button>
    </div>
    <form class="navbar-form pull-right">
        <input type="text" class="form-control" id="content-search" placeholder="名称查询">
        <button type="submit" class="btn btn-primary">查询</button>
        <button type="reset" class="btn btn-default">重置</button>
    </form>
    <div class="clearfix"></div>
</div>